
.edit-button , .delete-button , .view-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  
}

.edit-button , .delete-button , .view-button :hover {
  background-color: #2980b9;
  
}


.edit-button , .delete-button , .view-button i {
  margin-right: 5px;
}
 