
.edit-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .edit-button:hover {
    background-color: #2980b9;
  }
  
  .edit-button i {
    margin-right: 5px;
  }
  